extends layout

block content
  .containerlist
    .container-fluid-list
      h1.main_head 
        a(href="/") The Quirky Web
      include navside

    div#list

  script.
    const hamburger = document.getElementById("hamburger");
    const menulinks = document.getElementById("menulinks");
    const content = document.getElementById('list');

    hamburger.addEventListener("click", () => {
      menulinks.classList.toggle("show");
      if (menulinks.classList.contains('show')) {
        content.style.marginTop = menulinks.offsetHeight +"px";
      } else {
        content.style.marginTop = '0';
      } 
    });

    (async function () {

      const response = await fetch('/api/sites', {
        method: 'GET',
      });

      result = await response.json();

      const list = document.getElementById("list");

      for(let i in result){

        let {_id, name, url, author, github, image, approved} = result[i];

        console.log(image);
        if(approved){

        list.innerHTML += "<div class='site-box'>" +
          "<a href=\"" + url + "\">" +
          "<img src=\"/api/sites/" + _id + "/image\" width=\"200\">" +
          "</a>" +
          "<div class='site-box-info'>" +
            "<p>" +
              "<a class='name' href='" + url + "' target='_blank' title='name'> " + name + "</a>" +"</p>" +"<p>"+
              "<a class='author' href='" + github + "' target='_blank' title='GitHub'>Github: " + author + "</a>" +
            "</p>" +"</div>"+"</div>";

        }

      }

    })();