extends layout

block content
  .container
    h1 
      a(href="/") Quirky List
    include nav
    div#list
  
  script.

    (async function () {
      
      const response = await fetch('/api/sites', {
        method: 'GET',
      });

      result = await response.json();
     
      const list = document.getElementById("list");

      for(let i in result){

        let {_id, name, url, author, github, image, approved} = result[i];

        console.log(image);

        list.innerHTML += "<div>" + 
          "<a href=\"" + url + "\">" + 
          "<img src=\"/api/sites/" + _id + "/image\" width=\"200\">" + 
          "</a>" + 
          "<p>" + 
          "<a href=\"" + url + "\"><i class=\"fa-solid fa-link\"></i></a>" +
          "<a href=\"" + github + "\"><i class=\"fa-brands fa-github\"></i></a>" +
          "<br>" + name + 
          "<br>" + author + 
          "</p>" + 
          "</div>";
        
      }

    })();