@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

body {
  background-color: #fff;
  font-family: "Lilita One";
  margin: 0;
}
/* Logo styling */
.container-fluid-home h1 a {
  color: #fbf42c;
  text-align: center;
  text-shadow: 6px 7px 0px #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  font-family: "Lilita One";
  font-size: 121px;
  font-style: normal;
  font-weight: 400;
  line-height: 115px; /* 95.041% */
  text-decoration: none;
  text-align: center;
}
.container-fluid-home {
  text-align: center;
}
/* Nav styling */
#nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
#nav a {
  border-radius: 55px;
  border: 11px solid #ff6d5d;
  background: #000;
  color: #fbdc2c;
  text-align: center;
  text-shadow: 6px 7px 0px #000;
  -webkit-text-stroke-width: 1px;
  font-family: "Lilita One";
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px; /* 100% */
  text-decoration: none;
  padding: 10px 20px;
}
#nav a:hover {
  background-color: #ff6e5e;
  color: #fff;
  border-radius: 55px;
  border: 11px solid #000000;
  text-shadow: none;
}

/* Nav Side styling */
#navside {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  gap: 20px;
}
#menulinks {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  gap: 20px;
}
#hamburger {
  display: none;
}
#navside a {
  color: #fff;

  text-align: center;

  font-family: "Lilita One";
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  border-radius: 55px;
  border: 4px solid #ff6e5e;
  text-decoration: none;
  padding: 10px 20px;
  background: #000;
}
#navside a:hover {
  background-color: #ff6e5e;
  color: #fff;
  border-radius: 55px;
  border: 4px solid #000000;
  text-shadow: none;
}

/* Suggest page styling */
.containersuggest h2 {
  color: #000000;
  text-align: center;
  font-size: 40px;
}
.container-fluid-suggest h1 a {
  color: #fbf53d;
  text-align: center;
  text-shadow: 2px 5px 0px #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: "Lilita One";
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 81.818% */
  text-decoration: none;
  margin-left: 10px;
}
.container-fluid-suggest {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 10px;
}
label {
  display: none;
}
input {
  border-radius: 55px;
  border: 7px solid #ff6d5d;
  background: #000;
  color: #fbf42c;

  font-family: "Lilita One";
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px; /* 132.353% */
  text-align: center;
}
input:placeholder-shown {
  color: #fbf42c;

  font-family: "Lilita One";
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px; /* 132.353% */
}
.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border-radius: 55px;
  cursor: pointer;
  font-size: 16px;
}

.custom-file-upload:hover {
  background-color: #ff6d5d;
}
button {
  color: #fff;

  text-align: center;
  font-family: "Lilita One";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px; /* 137.5% */
  border-radius: 55px;
  border: 4px solid #000;

  background: #ff6d5d;
  padding: 10px 20px;
}
button:hover {
  background-color: #000000;
  border: 4px solid #ff6d5d;
}
/* Loginpage styling*/
.container-fluid-login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.container-fluid-login h1 a {
  color: #fbf53d;
  text-align: center;
  text-shadow: 2px 5px 0px #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: "Lilita One";
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 81.818% */
  text-decoration: none;
  margin-left: 10px;
}
.containerlogin h2 {
  margin-top: 100px;
  text-align: center;
}
.containerlogin form input:placeholder-shown {
  color: #fbf42c;
  font-family: "Lilita One";
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px; /* 132.353% */
}
.containerlogin button {
  border-radius: 55px;
  border: 6px solid #000;

  background: #ff6d5d;
  color: #fff;

  text-align: center;
  font-family: "Lilita One";
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 65.217% */
  padding: 20px 45px;
}
/* List/ShowAll Page styling */
.containerlist h2 {
  color: #000000;
  text-align: center;
  font-size: 40px;
}
.container-fluid-list h1 a {
  color: #fbf53d;
  text-align: center;
  text-shadow: 2px 5px 0px #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: "Lilita One";
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 81.818% */
  text-decoration: none;
  margin-left: 10px;
}
.container-fluid-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 100px;
}
#list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.site-box {
  display: inline-block;
  width: 250px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  white-space: normal;
  background-color: #f9f9f9;
  margin: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.site-box img {
  border-radius: 17px;
  border: 1px solid #000;
  width: 240px;
  max-height: 100%;
  object-fit: cover;
  height: 167px;
}

.site-box p {
  font-size: 14px;
  margin-top: 10px;
}

.site-box a {
  text-decoration: none;
  color: black;
  margin: 0 5px;
}
.site-box-info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.site-box-info p,
.site-box-info a {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ff6e5e;

  text-align: center;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: "Lilita One";

  font-style: normal;
  font-weight: 400;
  line-height: 5px; /* 83.333% */
}
.name {
  font-size: 24px;
  text-shadow: 2px 2px 0px #000;
}
.name:hover {
  text-decoration: underline;
  text-shadow: none;
}
.author {
  color: #ff6e5e;
  font-size: 20px;
  text-shadow: none;
}
.author:hover {
  text-decoration: underline;
}
.site-box-info .manage-btn {
  background-color: #ff6d5d;
  color: #fff;
  border-radius: 5px;
  border: 3px solid #000;
  text-decoration: none;
  padding: 10px 10px;
  margin-top: 10px;
  font-size: 16px;
  line-height: 10px;

  margin-left: 0px;
}
.site-box-info .manage-btn:hover {
  background-color: #000000;
  border: 3px solid #ff6d5d;
  color: #fefefe;
  text-shadow: none;
}

/* Manage Page Styling */
.container-manage h1 a {
  color: #fbf53d;
  text-align: center;
  text-shadow: 2px 5px 0px #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: "Lilita One";
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 81.818% */
  text-decoration: none;
  margin-left: 10px;
}
.container-fluid-manage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 100px;
}
.container-manage h2 {
  color: #000000;
  text-align: center;
  font-size: 40px;
}
#random {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

#loading {
  text-align: center;
}
.random-box {
  background-color: #f9f9f9;
  border: 1px solid #000000;
  border-radius: 0.5rem;
  padding: 1rem;
  width: clamp(650px, 30%, 700px); /* Responsive width */
  align-self: center;
  text-align: center;
  transition: transform 0.3s ease;
}

/* Image styling */
.random-box img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
  height: 400px;
  border: 1px solid #000000;
}

.random-box p {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ff6e5e;
  text-align: center;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: "Lilita One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 83.333% */
  text-shadow: 4px 4px 0px #000;
}

.random-box a {
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ff6e5e;
  text-align: center;
  font-size: 24px;
  text-shadow: 2px 2px 0px #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: "Lilita One";

  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 83.333% */
}
.random-box a:hover {
  text-decoration: underline;
  text-shadow: none;
}

.random-box a i {
  font-size: 18px;
}

#message {
  text-align: center;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .container-fluid-home h1 a {
    color: #fbf42c;

    text-align: center;
    text-shadow: 6px 7px 0px #000;
    -webkit-text-stroke-width: 1px;

    font-family: "Lilita One";
    font-size: 68px;
    font-style: normal;
    font-weight: 400;
    line-height: 74px; /* 108.824% */
  }
  #nav {
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 30px;
  }
  #nav a {
    border-radius: 55px;
    border: 6px solid #ff6d5d;
    padding: 10px;
    background: #000;
    color: #fbf42c;
    text-align: center;
    align-items: center;
    text-shadow: 6px 7px 0px #000;
    -webkit-text-stroke-width: 1px;
    border-radius: 15px;

    font-family: "Lilita One";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 187.5% */
  }
  #navside a {
    border: 4px solid #ff6d5d;
    color: #fff;
    margin: 0px 30px;
    width: 150px;
    justify-self: flex-end;
    align-self: flex-end;
    border-radius: 25px;
  }
  #menulinks {
    display: none;
  }
  #hamburger {
    display: block;
    padding: 5px;
    line-height: 20px;
    border-radius: 5px;
    align-items: center;
    padding-bottom: 10px;
    border: 4px solid #000000;
    color: #fff;
    text-align: center;
    font-family: "Lilita One";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
  }
  #menulinks {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px 0;
    transition: all 0.3s ease-in-out; /* Smooth transition */
  }

  #menulinks a {
    padding: 12px;
    text-align: center;
    overflow: hidden;
  }

  #menulinks.show {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 100px;
    left: 0;
    transition: all 0.3s ease-in-out; /* Smooth transition */
    padding: 10px 0;
    /* align-items: flex-end; */
    gap: 20px;
  }
  #menulinks.show a button {
    border-radius: 10px;
  }
  .container-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-fluid-list,
  .container-fluid-manage,
  .container-fluid-suggest,
  .container-fluid-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
  }
  .container-fluid-home {
    justify-content: center;
  }
  #list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-self: center;
    align-self: center;
    transition: margin-top;
  }
  /* Suggest page styling */
  form {
    box-sizing: border-box;
  }
  input {
    overflow: hidden;
    flex-wrap: wrap;
    max-width: 600px;
  }
}
@media screen and (max-width: 450px) {
  input {
    max-width: 280px;
  }
  .container-fluid-home h1 a,
  .container-fluid-list h1 a,
  .container-fluid-suggest h1 a,
  .container-fluid-login h1 a,
  .container-fluid-manage h1 a {
    font-size: 32px;
  }

  #navside a {
    align-self: center;
  }
  #menulinks.show {
    top: 150px;
    align-items: center;
  }
  .container-fluid-list,
  .container-fluid-suggest,
  .container-fluid-login,
  .container-fluid-manage {
    margin-bottom: 10px;
  }
  #menulinks.show {
    top: 100px;
  }
}

.center {
  text-align: center;
}